<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cecom.caukiosk310">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cecom.caukiosk310.PermissionActivity">
        </activity>

        <activity
            android:name="com.cecom.caukiosk310.DetailActivity"
            android:screenOrientation="landscape"
            android:lockTaskMode="always"/>
        <activity
            android:name="com.cecom.caukiosk310.FloorActivity"
            android:screenOrientation="landscape"
            android:lockTaskMode="always"/>

        <activity android:name="com.cecom.caukiosk310.SearchActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="landscape"
            android:lockTaskMode="always"/>

        <activity
            android:name="com.cecom.caukiosk310.MainActivity"
            android:screenOrientation="landscape"
            android:lockTaskMode="always">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.cecom.caukiosk310.TotalViewActivity"
            android:screenOrientation="landscape"
            android:lockTaskMode="always"/>
        <receiver
            android:name="com.cecom.caukiosk310.AdminReceiver"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>